.github
.editorconfig
.eslintignore
.eslintrc
.gitignore
.node-version
.npmignore
.npmrc
.prettierrc
.release-please-manifest.json
eslint.config.mjs
gha-creds-*.json
package-lock.json
release-please-config.json
